/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.lineup-exhibit__container {
  display: flex;
  flex-wrap: wrap;
}

.lineup-exhibit__controls {
  font-size: var(--wp--preset--font-size--x-small);

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.lineup-exhibit {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #eaeaea;
  gap: 1em;

  padding: 1.5em 0;
  
  @media screen and (min-width: 768px) {
    padding: 1.5em;
    flex: 0 0 calc(50% - 1.5em - 1px);
    border-right: 1px solid #eaeaea;

    &:nth-child(even) {
      padding-right: 0;
      border-right: none;
    }

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-last-child(-n+2) {
      border-bottom: none;
    }

    &:nth-last-child(2):has(+ :last-child:nth-child(odd)) {
      border-bottom: 1px solid #eaeaea;
    }
  }
  
}

.lineup-exhibit__picture {
  max-width: 33.333%;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.lineup-exhibit__title {
  margin-block-start: 0;
  margin-block-end: 0.5em;
  text-transform: uppercase;
  font-size: var(--wp--custom--typography--font-size--medium);
  font-weight: 600;

  a:hover {
    text-underline-offset: 0.1ch;
  }
}

.lineup-exhibit__tag {
  padding: 0.25em 0.35em;
  background: #000;
  color: #fff;
  transform: rotate(-5deg);
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  font-size: var(--wp--preset--font-size--small);
}

.lineup-exhibit__meta {
  font-weight: 500;
}

.lineup-exhibit__content {
  flex: 1;
  min-width: 200px;

  > *:last-child {
    margin-bottom: 0;
  }
}

.lineup-exhibit__meta,
.lineup-exhibit__excerpt {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}