/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.aber-header__dates {
  font-size: 1.65rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  color: var(--wp--preset--color--white-bone) !important;
}

@media screen and (max-width: 767px) {
  .aber-header__dates {
    display: none;
    font-size: 7.4vw;
    color: var(--wp--preset--color--black-night) !important;
  }
}

.home .aber-header__dates {
  display: block;
}