# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!archive/
archive/*
!archive/component/
!archive/festivals/
!archive/special-events/
!archive/templates/
!archive/plugins/
!archive/modules/
!archive/media/
archive/media/*
!archive/media/djextensions/
!archive/media/gantry5/
!archive/media/jui/
!archive/media/system/
!archive/media/k2/
archive/media/k2/*
!archive/media/k2/assets/
!archive/templates/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php
wp-content/plugins/akismet/*

# ignore everything in themes folder except for specific themes
wp-content/themes/*
!wp-content/themes/abertoir2022/

# ignore node dependency directories
node_modules/

# ignore all files starting with . or ~
.*
~*

#ignore specific project files
koala-config.json
*.css.map

# ignore log files and databases
*.log
*.sql
*.sqlite

# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.gitignore
!README.md
!CHANGELOG.md

# track favicon files, if they exist
!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg