<!-- wp:template-part {"slug":"header","tagName":"header","align":"wide"} /-->

<!-- wp:group {"className":"pt-0","layout":{"type":"constrained"}} -->
<div class="wp-block-group pt-0"><!-- wp:abertoir2022/lineup-gallery {"align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","backgroundColor":"black-night","textColor":"white-bone","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-white-bone-color has-black-night-background-color has-text-color has-background"><!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained","wideSize":"1240px"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":16,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","align":"wide","className":"aber-featured-news","layout":{"contentSize":null,"type":"constrained"}} -->
<main class="wp-block-query alignwide aber-featured-news"><!-- wp:post-template {"align":"wide","className":"aber-featured-news__posts","layout":{"type":"grid","columnCount":1}} -->
<!-- wp:group {"className":"aber-featured-news__post","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group aber-featured-news__post"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"contentPosition":"center center","align":"center","layout":{"type":"constrained"}} -->
<div class="wp-block-cover aligncenter"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"isLink":true} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"},":hover":{"color":{"text":"var:preset|color|primary"}}}}},"textColor":"primary","className":"cta-link","fontSize":"medium"} -->
<p class="cta-link has-primary-color has-text-color has-link-color has-medium-font-size"><a href="/latest/news/">More news</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:abertoir2022/testimonials /-->

<!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->