<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:yoast-seo/breadcrumbs /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide","className":"exhibit-content-bottom"} -->
<div class="wp-block-columns alignwide exhibit-content-bottom"><!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:abertoir2022/promote-event {"className":"pop-out-left aber-event-promo\u002d\u002dwide"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","className":"d-none d-block-md"} -->
<div class="wp-block-column d-none d-block-md"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->