/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.aber-event-promo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--wp--preset--color--black-night);
  container-type: inline-size;
}
.aber-event-promo.aber-event-promo--wide {
  background: var(--wp--preset--color--dark-background-shade-2);
}
@media screen and (max-width: 767px) {
  .wp-site-blocks .aber-event-promo.alignfull.aber-event-promo--slide {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .aber-event-promo.aber-event-promo--wide a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .aber-event-promo.alignfull.aber-event-promo--slide {
    position: relative;
    margin-left: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    width: unset;
  }
}
.aber-event-promo a:hover {
  text-decoration: none;
}
.aber-event-promo a:hover h3 {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.aber-event-promo a:focus h3 {
  outline: 3px dotted var(--wp--preset--color--primary);
}
.aber-event-promo h3 a:hover, .aber-event-promo h3 a:focus {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.has-background .aber-event-promo:not(.aber-event-promo--slide), .single-exhibit:not(.exhibit-template-wp-custom-template-line-up, .exhibit-template-wp-custom-template-film) .aber-event-promo {
  background: var(--wp--preset--color--white-bone);
}
.has-background .aber-event-promo:not(.aber-event-promo--slide) p,
.has-background .aber-event-promo:not(.aber-event-promo--slide) .wp-block-read-more, .single-exhibit:not(.exhibit-template-wp-custom-template-line-up, .exhibit-template-wp-custom-template-film) .aber-event-promo p,
.single-exhibit:not(.exhibit-template-wp-custom-template-line-up, .exhibit-template-wp-custom-template-film) .aber-event-promo .wp-block-read-more {
  color: var(--wp--preset--color--black-night);
}
@media screen and (min-width: 768px) {
  .has-background .aber-event-promo:not(.aber-event-promo--slide) p.aber-event-promo--slide,
  .has-background .aber-event-promo:not(.aber-event-promo--slide) .wp-block-read-more.aber-event-promo--slide, .single-exhibit:not(.exhibit-template-wp-custom-template-line-up, .exhibit-template-wp-custom-template-film) .aber-event-promo p.aber-event-promo--slide,
  .single-exhibit:not(.exhibit-template-wp-custom-template-line-up, .exhibit-template-wp-custom-template-film) .aber-event-promo .wp-block-read-more.aber-event-promo--slide {
    color: var(--wp--preset--color--white-bone);
  }
}

.aber-event-promo__image img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .aber-event-promo--wide .aber-event-promo__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .aber-event-promo--wide .aber-event-promo__image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .aber-event-promo--slide .aber-event-promo__image {
    aspect-ratio: 8/3;
    width: 100%;
  }
  .aber-event-promo--slide .aber-event-promo__image::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.56);
  }
  .aber-event-promo--slide .aber-event-promo__image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

.aber-event-promo__content {
  padding: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .aber-event-promo__content {
    padding: 1rem 1.25rem;
  }
  .aber-event-promo--slide .aber-event-promo__content {
    padding: var(--wp--custom--spacing--outer);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    width: 100%;
    max-width: var(--wp--style--global--wide-size);
  }
  .aber-event-promo--slide .aber-event-promo__content > * {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
.aber-event-promo__content h3 {
  margin: 0;
  font-family: var(--wp--preset--font-family--poppins);
  font-weight: 600;
  text-transform: uppercase;
  font-size: max(1.5em, 1.23em + 3cqi);
}
@container (min-width: 320px) {
  .aber-event-promo__content h3 {
    font-size: clamp(5cqw, var(--wp--custom--typography--font-size--huge), 10cqw);
  }
}
@media screen and (min-width: 768px) {
  .aber-event-promo--wide .aber-event-promo__content h3 {
    font-size: max(1.5em, 1.23em + 1cqi);
  }
  .aber-event-promo--slide .aber-event-promo__content h3 {
    font-size: clamp(2vw, var(--wp--custom--typography--font-size--colossal), 8.5vw);
    text-align: center;
  }
}
.aber-event-promo__content p {
  color: var(--wp--preset--color--white-bone);
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@media screen and (min-width: 768px) {
  .aber-event-promo--slide .aber-event-promo__content p {
    text-align: center;
  }
}
.aber-event-promo__content .wp-block-read-more {
  margin: 1em 0 0 !important;
  color: var(--wp--preset--color--white-bone);
}/*# sourceMappingURL=style.css.map */