/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.lineup-gallery {
  margin-bottom: 4em;

  img {
    width: 100%;
  }

  .flickity-page-dots .dot {
    background-color: var(--wp--preset--color--red);
  }

  img {
    display: block;
  }

  figure {
    margin: 0;
  }
}

.lineup-gallery {
  figure {
    width: 100%;
  }

  figcaption {
    bottom: 0;
    box-sizing: border-box;
    color: white;
    width: 100%;
    padding: 1em var(--wp--custom--spacing--outer);;
    position: absolute;
    background: rgba(0,0,0,0.4);
    text-align: center;

    @media screen and (min-width: 782px) {
      text-align: left;
    }
  }
}