@charset "UTF-8";
:root {
  --link-underline-colour: var(--wp--preset--color--primary);
  --link-colour: var(--wp--preset--color--primary);
}

html {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wp-block-query-title {
  font-family: inherit;
  font-weight: 800;
}

.wp-block-separator {
  border-bottom-color: var(--wp--preset--color--black-night);
  border-bottom-width: 1px;
}

.wp-block-post-title {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--colossal), 8.5vw);
}

h2.wp-block-heading {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--gigantic), 9.5vw);
}

h3.wp-block-heading {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--huge), 9vw);
}

.wp-block-post-content h2 {
  margin-top: 3rem;
}

.wp-block-embed {
  margin-top: 1.5rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 782px) {
  .d-none-md {
    display: none !important;
  }
  .d-inline-md {
    display: inline !important;
  }
  .d-block-md {
    display: block !important;
  }
  .col-md-6 {
    -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
            flex-basis: 50% !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-4 {
    -webkit-flex-basis: 33.333% !important;
        -ms-flex-preferred-size: 33.333% !important;
            flex-basis: 33.333% !important;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.666% !important;
        -ms-flex-preferred-size: 66.666% !important;
            flex-basis: 66.666% !important;
  }
}
.equal-height-cols > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.span-width {
  width: 100%;
}

.flex-fill {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.main-nav {
  position: relative;
}

.main-nav .wp-block-navigation__responsive-container-open,
.main-nav .wp-block-navigation__responsive-container-close {
  position: absolute;
  top: 0px;
  z-index: 9;
}
.main-nav .wp-block-navigation__responsive-container-open svg,
.main-nav .wp-block-navigation__responsive-container-close svg {
  width: 36px;
  height: 36px;
}

.main-nav .wp-block-navigation__responsive-container-open.always-shown {
  top: var(--wp--preset--spacing--50);
}

.wp-block-navigation__responsive-container.is-menu-open {
  padding-top: var(--wp--preset--spacing--50);
}

.main-nav .wp-block-navigation__responsive-close {
  position: relative;
}

@media screen and (min-width: 782px) {
  .has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
    margin-top: 0;
  }
}
.breadcrumb__separator {
  display: inline-block;
  margin: 0 0.25em;
  vertical-align: middle;
}
.single-exhibit:not(.exhibit-template-wp-custom-template-line-up) {
  fill: var(--wp--preset--color--white-bone);
}

.breadcrumb__separator svg {
  display: block;
  height: auto;
  width: var(--bb--icon-width, 1em);
}

.breadcrumb {
  font-weight: 600;
}

.yoast-breadcrumbs [aria-current=page] {
  display: none;
}

a {
  text-underline-offset: 0.5ch;
}

.cta-link > a {
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--medium);
  font-weight: 600;
}
.cta-link::after {
  content: "›";
  margin-left: 0.2em;
  font-size: 2rem;
  line-height: 0;
  top: 3px;
  position: relative;
  color: var(--wp--preset--color--primary);
}

h1 {
  -webkit-margin-before: 0.25em;
          margin-block-start: 0.25em;
}

h2 a {
  text-underline-offset: 0.2ch;
}

.single-post h1.wp-block-post-title {
  -webkit-padding-after: 1.5rem;
          padding-block-end: 1.5rem;
  border-bottom: 1px solid black;
}

.page h1.wp-block-post-title {
  margin-bottom: 0 !important;
}

a:where(:not(.wp-element-button)) {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
}
a:where(:not(.wp-element-button)):hover, a:where(:not(.wp-element-button)):active, a:where(:not(.wp-element-button)):focus {
  -webkit-text-decoration: underline solid var(--wp--preset--color--primary) 0.15ch;
          text-decoration: underline solid var(--wp--preset--color--primary) 0.15ch;
}

.wp-element-button, .wp-block-button__link {
  color: var(--wp--preset--color--white) !important;
}

.wp-block-boldblocks-icon-separator__inner {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.wp-block-image {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
}

.aber-inline {
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
}
.aber-inline > * {
  display: inline-block;
  margin: 0;
}

.aber-tag {
  display: inline-block;
  padding: 0em 0.5em;
  margin: 0.25em 0.15em;
  border: 1px solid var(--wp--preset--color--primary);
}
.aber-tag:hover, .aber-tag:active, .aber-tag:focus {
  text-decoration: none;
  background-color: var(--wp--preset--color--primary);
  color: white;
}

.aber-tag--active {
  color: white;
  border-color: var(--wp--preset--color--black-night);
  background-color: var(--wp--preset--color--black-night);
}
.aber-tag--active:hover, .aber-tag--active:active, .aber-tag--active:focus {
  background-color: var(--wp--preset--color--black-night);
}

.aber-featured-image img:has(+ figcaption) {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.aber-featured-image__caption {
  font-size: var(--wp--preset--font-size--x-small);
  color: var(--wp--preset--color--text-subtle);
}

:where(.wp-block-cover.is-light:not(.has-text-color)) {
  color: var(--wp--preset--color--white-bone);
}

:where(body .is-layout-flex) {
  gap: 2rem;
}

:where(.wp-site-blocks) > div:first-of-type {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

:where(.wp-block-group.has-background):has(div:first-child.lineup-gallery) {
  padding-top: 0;
}

:where(.wp-block-group.has-background) {
  padding: 2.375em;
  -webkit-margin-before: 2.375em;
          margin-block-start: 2.375em;
}

.wp-block-group .has-background > *:last-child {
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
}

.wp-site-blocks > footer {
  margin-top: 0;
}

.wp-block-post-template-is-layout-grid {
  container-type: inline-size;
}
@media screen and (max-width: 840px) {
  .wp-block-post-template-is-layout-grid.columns-3 {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .home {
    background-color: var(--wp--preset--color--black-night);
  }
}
.home footer {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.page .wp-site-blocks > header header {
  position: relative;
  z-index: 2;
}
.page .wp-site-blocks > header header + .wp-block-cover.alignfull {
  margin-top: -webkit-calc(-15% - var(--wp--custom--spacing--outer));
  margin-top: calc(-15% - var(--wp--custom--spacing--outer));
}
@media screen and (min-width: 768px) {
  .page .wp-site-blocks > header header + .wp-block-cover.alignfull {
    margin-top: -56px;
  }
}
.page .wp-site-blocks > header header + .wp-block-cover.alignfull .wp-block-cover__inner-container {
  position: relative;
  z-index: 3;
}

.aber-header {
  background: var(--wp--preset--color--black-night);
}
@media screen and (max-width: 767px) {
  .aber-header {
    background: transparent;
  }
}
@media screen and (min-width: 768px) {
  .aber-header {
    -webkit-margin-after: 55px;
            margin-block-end: 55px;
  }
}
@media screen and (max-width: 767px) {
  body:not(.home) .aber-header {
    -webkit-margin-after: 15%;
            margin-block-end: 15%;
  }
}

.aber-header__wrapper {
  position: relative;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
@media screen and (max-width: 767px) {
  .aber-header__wrapper {
    display: block !important;
    padding-bottom: var(--wp--custom--spacing--outer);
    margin-left: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  }
}
@media screen and (min-width: 768px) {
  .aber-header .aber-header__wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .aber-header__logo {
    margin-left: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: -webkit-calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--wp--preset--color--black-night);
  }
  .home .aber-header__logo {
    margin-bottom: var(--wp--custom--spacing--outer) !important;
  }
  .aber-header__logo a {
    margin-bottom: -15%;
    max-width: 27%;
  }
}
@media screen and (min-width: 768px) {
  .aber-header__logo {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-bottom: -2.5em !important;
    width: 130px;
  }
  .aber-header__logo + div {
    padding-top: 4em;
    padding-bottom: 1em;
  }
}
@media screen and (min-width: 992px) {
  .aber-header__logo {
    width: 150px;
  }
}

.aber-header__title {
  margin: 0;
  font-family: var(--wp--preset--font-family--alegreya);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .aber-header__title {
    display: none;
    font-size: 10vw;
    color: var(--wp--preset--color--black-night) !important;
  }
}
.home .aber-header__title {
  display: block;
}

.aber-footer {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .aber-footer .is-layout-flow > .alignleft.wp-block-image {
    max-width: 40%;
    -webkit-margin-end: 1.5em;
            margin-inline-end: 1.5em;
  }
}
.aber-footer .wp-block-navigation__container {
  width: 100%;
  display: block;
  -webkit-columns: 2 9em;
     -moz-columns: 2 9em;
          columns: 2 9em;
  line-height: 1.4;
}
.aber-footer .wp-block-navigation-item {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}
.aber-footer .wp-block-social-links {
  gap: 1rem;
}
.aber-footer .wp-block-social-link a {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: inherit;
}

.aber-featured-news {
  margin-right: -webkit-calc(-1 * var(--wp--custom--spacing--outer));
  margin-right: calc(-1 * var(--wp--custom--spacing--outer));
}
@media screen and (min-width: 768px) {
  .aber-featured-news .aber-featured-news__posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.aber-featured-news__post a {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 18px 18px 18px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}
.aber-featured-news__post a:hover, .aber-featured-news__post a:active, .aber-featured-news__post a:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.aber-featured-news__post .wp-block-cover {
  min-height: 250px;
}
@media screen and (min-width: 768px) {
  .aber-featured-news__post .wp-block-cover {
    min-height: 300px;
  }
}
.aber-featured-news__post .wp-block-post-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-weight: 600;
  line-height: 0.9;
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--huge), 8.5vw);
}
.aber-featured-news__post .wp-block-cover__inner-container {
  position: absolute;
  height: 100%;
}
.aber-featured-news__post .wp-block-cover__inner-container::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  border-left: 15px solid var(--wp--preset--color--mauve);
}

.aber-featured-news__posts li:nth-child(2) .wp-block-cover__inner-container::before {
  border-left-color: var(--wp--preset--color--blue);
}
.aber-featured-news__posts li:nth-child(3) .wp-block-cover__inner-container::before {
  border-left-color: var(--wp--preset--color--red);
}

.aber-news__posts > li {
  -webkit-margin-after: var(--wp--preset--spacing--70);
          margin-block-end: var(--wp--preset--spacing--70);
}

.aber-news__post h2 {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--gigantic), 8.5vw);
}

.festival-schedule h3 {
  -webkit-padding-after: 0.5em;
          padding-block-end: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  border-bottom: 2px solid red;
  font-family: var(--wp--preset--font-family--alegreya);
}

.festival-schedule__row.is-layout-flex {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.festival-schedule__exhibit {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.festival-schedule__time {
  font-weight: 500;
}

.festival-schedule__tag {
  padding: 0.25em 0.35em;
  background: var(--wp--preset--color--blue);
  color: black;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
}

.single-exhibit:not(.exhibit-template-wp-custom-template-line-up) {
  background-color: var(--wp--preset--color--black-night);
  color: var(--wp--preset--color--white-bone);
}
.single-exhibit:not(.exhibit-template-wp-custom-template-line-up) .wp-block-boldblocks-icon-separator {
  fill: var(--wp--preset--color--white-bone);
}

@media screen and (min-width: 782px) {
  .exhibit-content {
    background: var(--wp--preset--color--black-night);
    padding: 3rem 3rem 0;
    margin-top: 0;
    position: relative;
    top: -2rem;
  }
}
@media screen and (min-width: 782px) {
  .exhibit-content .exhibit-trailer,
  .exhibit-content .exhibit-gallery,
  .exhibit-content .wp-block-embed,
  .exhibit-content .wp-block-gallery {
    margin-right: -webkit-calc(-3rem - var(--wp--custom--spacing--outer));
    margin-right: calc(-3rem - var(--wp--custom--spacing--outer));
  }
}

.wp-block-cover--exhibit-header {
  color: var(--wp--preset--color--white-bone);
}
.wp-block-cover--exhibit-header .has-background-dim:not([class*=-background-color]) {
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}
@media screen and (min-width: 1024px) {
  .wp-block-cover--exhibit-header .has-background-dim:not([class*=-background-color]) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), color-stop(40%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
  }
}
@media screen and (min-width: 1024px) {
  .wp-block-cover--exhibit-header .wp-block-cover__inner-container {
    width: 60%;
    margin-right: auto;
  }
}
.wp-block-cover--exhibit-header h1 {
  font-size: clamp(2rem, 1rem + 4vw, 4.5rem);
}

.exhibit-cards .exhibit {
  container-type: inline-size;
  padding-left: var(--wp--preset--spacing--50);
  padding-right: var(--wp--preset--spacing--50);
  padding-bottom: var(--wp--preset--spacing--50);
  background: var(--wp--preset--color--dark-background-shade-2);
  color: var(--wp--preset--color--white-bone);
}
.exhibit-cards .exhibit h2 {
  font-weight: 600;
  font-size: max(1.5em, 1.23em + 3cqi);
}
@container (min-width: 320px) {
  .exhibit-cards .exhibit h2 {
    font-size: clamp(5cqw, var(--wp--custom--typography--font-size--huge), 13cqw);
  }
}
.exhibit-cards .exhibit figure {
  margin-left: -webkit-calc(-1 * var(--wp--preset--spacing--50)) !important;
  margin-left: calc(-1 * var(--wp--preset--spacing--50)) !important;
  margin-right: -webkit-calc(-1 * var(--wp--preset--spacing--50)) !important;
  margin-right: calc(-1 * var(--wp--preset--spacing--50)) !important;
}
.exhibit-cards .exhibit a:hover img, .exhibit-cards .exhibit a:focus img {
  opacity: 0.7;
}/*# sourceMappingURL=styles.css.map */