.aber-header {
  background: var(--wp--preset--color--black-night);

  @media screen and (max-width: 767px) {
    background: transparent;
  }

  @media screen and (min-width: 768px) {
    margin-block-end: 55px;
  }

  @at-root body:not(.home) & {
    @media screen and (max-width: 767px) {
      margin-block-end: 15%;
    }
  }
}

.aber-header__wrapper {
  position: relative;
  margin-block-start: 0;
  align-items: flex-start;

  @media screen and (max-width: 767px) {
    display: block !important;
    padding-bottom: var(--wp--custom--spacing--outer);
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  }
}

.aber-header__logo {

  @media screen and (max-width: 767px) {
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    display: flex;
    justify-content: center;
    background: var(--wp--preset--color--black-night);

    @at-root .home & {
      margin-bottom: var(--wp--custom--spacing--outer) !important;
    }

    a {
      margin-bottom: -15%;
      max-width: 27%;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: -55px !important;
    width: 130px;

    & + div {
      padding-top: 5rem;
    }
  }
}

.aber-header__title {
  margin: 0;
  font-family: var(--wp--preset--font-family--alegreya);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.9;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    display: none;
    font-size: 10vw;
    color: var(--wp--preset--color--black-night) !important;
  }

  @at-root .home & {
    display: block
  }
}