.exhibit-cards {

    .exhibit {
        container-type: inline-size;
        padding-left: var(--wp--preset--spacing--50);
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: var(--wp--preset--spacing--50);
        background: var(--wp--preset--color--dark-background-shade-2);
        color: var(--wp--preset--color--white-bone);

        h2 {
            font-weight: 600;
            font-size: max(1.5em, 1.23em + 3cqi);

            @container (min-width: 320px) {
                font-size: clamp(5cqw, var(--wp--custom--typography--font-size--huge), 13cqw);
            }
        }

        figure {
            margin-left: calc(-1 * var(--wp--preset--spacing--50)) !important;
            margin-right: calc(-1 * var(--wp--preset--spacing--50)) !important;
        }

        a:hover, a:focus {
            img {
                opacity: 0.7;
            }
        }
    }

}