:root {
  --link-underline-colour: var(--wp--preset--color--primary);
  --link-colour: var(--wp--preset--color--primary);
}

html {
    font-size: 18px;

    @media screen and (min-width: 992px) {
      font-size: 20px;
    }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wp-block-query-title {
  font-family: inherit;
  font-weight: 800;
}

.wp-block-separator {
  border-bottom-color: var(--wp--preset--color--black-night);
  border-bottom-width: 1px;
}

.wp-block-post-title {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--colossal), 8.5vw);
}

h2.wp-block-heading {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--gigantic), 9.5vw);
}

h3.wp-block-heading {
  font-size: clamp(2vw, var(--wp--custom--typography--font-size--huge), 9vw);
}

.wp-block-post-content h2 {
  margin-top: 3rem;
}

.wp-block-embed {
  margin-top: 1.5rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 782px) {
  .d-none-md {
    display: none !important;
  }
  .d-inline-md {
    display: inline !important;
  }
  .d-block-md {
    display: block !important;
  }

  .col-md-6 {
    flex-basis: 50% !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-4 {
    flex-basis: 33.333% !important;
  }

  .col-lg-8 {
    flex-basis: 66.666% !important;
  }
}

.equal-height-cols {
  > * {
    display: flex;
  }
}

.span-width {
  width: 100%;
}

.flex-fill {
  flex-grow: 1;
}

.align-items-stretch {
  align-items: stretch !important;
}

.main-nav {
  position: relative;
}

.main-nav .wp-block-navigation__responsive-container-open,
.main-nav .wp-block-navigation__responsive-container-close {
  position: absolute;
  top: 0px;
  z-index: 9;

  svg {
    width: 47px;
    height: 47px;
  }
}

.main-nav .wp-block-navigation__responsive-container-open.always-shown {
  top: 20px;
}

.wp-block-navigation__responsive-container.is-menu-open {
  padding-top: 20px;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-icon {
  display: block;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
  text-underline-offset: 0.15em;
  color: var(--wp--preset--color--primary);

  &:focus {
    outline: 1px dotted var(--wp--preset--color--primary);
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

.wp-block-navigation-item.has-child {
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: flex-end;

  .wp-block-navigation__submenu-container {
    flex: 0 0 100%;
    padding: 0 !important;
  }
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
  display: none;
}

.wp-block-navigation .has-child .wp-block-navigation-submenu__toggle {
  transform: rotate(0);
  transition: transform 130ms ease-in-out;

  &[aria-expanded=true] {
    transform: rotate(180deg);

    & ~.wp-block-navigation__submenu-container {
      display: block;
    }
  }
}

.aber-header {
  .wp-block-navigation {
    font-size: var(--wp--preset--font-size--colossal);
    font-weight: 600;
    text-transform: uppercase;
    line-height: var(--wp--custom--typography--line-height--small);
    text-align: right;
  }
}

.main-nav .wp-block-navigation__responsive-close {
  position: relative;
}

@media screen and (min-width: 782px) {
  .has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
    margin-top: 0;
  }
}

.breadcrumb__separator {
  display: inline-block;
  margin: 0 0.25em;
  vertical-align: middle;

  @at-root .single-exhibit:not(.exhibit-template-wp-custom-template-line-up) {
    fill: var(--wp--preset--color--white-bone);
  }
  

  svg {
    display: block;
    height: auto;
    width: var(--bb--icon-width,1em);
  }
}

.breadcrumb {
  font-weight: 600;
}

.yoast-breadcrumbs {
  [aria-current=page] {
    display: none;
  }
}

a {
  text-underline-offset: 0.5ch;

  &:focus {
    outline: 1px dotted var(--wp--preset--color--primary);
    outline-offset: 0.1em;
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }
}


.cta-link {

  > a {
    text-transform: uppercase;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: 600;
  }

  &::after {
    content: '\203A';
    margin-left: 0.2em;
    font-size: 2rem;
    line-height: 0;
    top: 3px;
    position: relative;
    color: var(--wp--preset--color--primary);
  }
}

h1 {
  margin-block-start: 0.25em;
}

h2 {
  a {
    text-underline-offset: 0.2ch;
  }
}

.single-post h1.wp-block-post-title {
  padding-block-end: 1.5rem;
  border-bottom: 1px solid black;
}

.page h1.wp-block-post-title {
  margin-bottom: 0!important;
}

.wp-block-post-content a:where(:not(.wp-element-button)),
a:where(:not(.wp-element-button)) {
  color: var(--wp--preset--color--primary);
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: underline solid var(--wp--preset--color--primary) .15ch;
  }

  &:active {
    color: var(--wp--preset--color--primary);
  }

  &:focus {
    text-decoration-line: none;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

button {
  &:focus {
    outline: 1px dotted var(--wp--preset--color--primary);
    outline-offset: 0.1em;
  }
}

.wp-block-post-title {
  a:where(:not(.wp-element-button)) {
    &:active {
      color: var(--wp--preset--color--primary);
    }

    &:focus {
      text-decoration-line: none;
  
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}

.wp-element-button, .wp-block-button__link {
  color: var(--wp--preset--color--white) !important;
}

.wp-element-button:hover, .wp-block-button__link:hover,
.wp-element-button:focus, .wp-block-button__link:focus {
  opacity: 1;
  background-color: var(--wp--preset--color--red);
}

.wp-block-boldblocks-icon-separator__inner {
  margin-block-start: 1.5rem;
  margin-block-end: 2rem;
}

.wp-block-image {
  margin-block-start: 1.5rem;
}

.aber-inline {
  margin-block-start: 0.5em;

  > * {
    display: inline-block;
    margin: 0;
  }
}

.aber-tag {
  display: inline-block;
  padding: 0em 0.5em;
  margin: 0.25em 0.15em;
  border: 1px solid var(--wp--preset--color--primary);

  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color:  var(--wp--preset--color--primary);
    color: white;
  }
}

.aber-tag--active {
  color: white;
  border-color: var(--wp--preset--color--black-night);;
  background-color:  var(--wp--preset--color--black-night);

  &:hover, &:active, &:focus {
    background-color:  var(--wp--preset--color--black-night);
   
  }
}

.aber-featured-image img:has(+ figcaption) {
  margin-block-end: 0.5em;
}

.aber-featured-image__caption {
  font-size: var(--wp--preset--font-size--x-small);
  color: var(--wp--preset--color--text-subtle);
}

:where(.wp-block-cover.is-light:not(.has-text-color)) {
  color: var(--wp--preset--color--white-bone);
}

:where(body .is-layout-flex) {
  gap: 2rem;
}

:where(.wp-site-blocks) > div:first-of-type {
  margin-block-start: 0;
}

:where(.wp-block-group.has-background):has(div:first-child.lineup-gallery) {
  padding-top: 0;
}

:where(.wp-block-group.has-background) {
  padding: 2.375em;
  margin-block-start: 2.375em;
}

.wp-block-group .has-background {
  > *:last-child {
    margin-block-end: 0 !important;
  }
}

.wp-site-blocks {
  > footer {
    margin-top: 0;
  }
}

.wp-block-post-template-is-layout-grid {
  container-type: inline-size;

  &.columns-3 {
    @media screen and (max-width: 840px) {
      grid-template-columns: 1fr;
    }
  }
}

.home {
  @media screen and (min-width: 768px) {
    background-color: var(--wp--preset--color--black-night);
  }

  footer {
    margin-block-start: 0;
  }
}

.page {
  .wp-site-blocks {
    > header header {
      position: relative;
      z-index: 2;

      + .wp-block-cover.alignfull {
        
        margin-top: calc(-15% - var(--wp--custom--spacing--outer));

        @media screen and (min-width: 768px) {
          margin-top: -56px;
        }

        .wp-block-cover__inner-container {
          position: relative;
          z-index: 1;
        }
      }

    }
  }
}


@import 'aber-header';
@import 'aber-footer';
@import 'aber-featured-news';
@import 'aber-news';
@import 'aber-short-film';
@import 'festival-schedule';
@import 'exhibit-page';
@import 'exhibit-header';
@import 'exhibit-card';